In [2]:
import pandas as pd

In [3]:
cities = pd.Series(
    {'Dnepr': 1000000, 'Kiev': 3000000, 'Paris': 2300000, 'Berlin': 3800000},
    index=['Dnepr', 'Paris', 'Berlin', 'Milan']
)
cities

Dnepr     1000000.0
Paris     2300000.0
Berlin    3800000.0
Milan           NaN
dtype: float64

In [4]:
len(cities)

4

In [20]:
brothers = pd.Series(
    {'Alex': 15, 'Stepan': 20, 'Zora': 30},
    index=['Alex', 'Stepan', 'Olga']
)

In [21]:
brothers

Alex      15.0
Stepan    20.0
Olga       NaN
dtype: float64

In [29]:
cities.shape

(4,)

In [30]:
cities.size

4

In [31]:
cities.count()

4

In [32]:
cities2 = cities

In [34]:
cities2.at['Milan'] = 3200000
cities2

Dnepr     1000000.0
Paris     2300000.0
Berlin    3800000.0
Milan     3200000.0
dtype: float64

In [35]:
cities

Dnepr     1000000.0
Paris     2300000.0
Berlin    3800000.0
Milan     3200000.0
dtype: float64

In [11]:
cities3 = cities.copy()
cities3

Dnepr     1000000.0
Paris     2300000.0
Berlin    3800000.0
Milan     3200000.0
dtype: float64

In [12]:
cities2.at['London'] = 9000000

In [13]:
cities

Dnepr     1000000.0
Paris     2300000.0
Berlin    3800000.0
Milan     3200000.0
London    9000000.0
dtype: float64

In [14]:
cities3

Dnepr     1000000.0
Paris     2300000.0
Berlin    3800000.0
Milan     3200000.0
dtype: float64

In [36]:
ds1 = pd.Series([1, 2, 3])
ds1

0    1
1    2
2    3
dtype: int64

In [43]:
ds1.iat[1]#questionmark

2

In [42]:
ds1.iloc[0]#questionmark

1

In [18]:
cities3.loc['Berlin']

3800000.0

# Агрегация

In [21]:
cities.agg('sum')

19300000.0

In [22]:
cities.agg('mean')

3860000.0

In [23]:
19300000 / len(cities)

3860000.0

In [24]:
cities.min()

1000000.0

In [26]:
cities.agg(['min', 'max', 'mean', 'sum'])

min      1000000.0
max      9000000.0
mean     3860000.0
sum     19300000.0
dtype: float64