In [2]:
import pandas as pd

In [3]:
cities = pd.Series(
    {'Dnepr': 1000000, 'Kiev': 3000000, 'Paris': 2300000, 'Berlin': 3800000},
    index=['Dnepr', 'Paris', 'Berlin', 'Milan']
)
cities

Dnepr     1000000.0
Paris     2300000.0
Berlin    3800000.0
Milan           NaN
dtype: float64

In [4]:
cities.isnull()

Dnepr     False
Paris     False
Berlin    False
Milan      True
dtype: bool

In [5]:
cities.notnull()

Dnepr      True
Paris      True
Berlin     True
Milan     False
dtype: bool

In [6]:
cities > 1000000

Dnepr     False
Paris      True
Berlin     True
Milan     False
dtype: bool

In [7]:
cities['Dnepr']

1000000.0

In [8]:
cities[cities.isnull()]

Milan   NaN
dtype: float64

In [10]:
cities[ cities.notna() ]

Dnepr     1000000.0
Paris     2300000.0
Berlin    3800000.0
dtype: float64

In [10]:
cities[ cities > 1000000 ]

Paris     2300000.0
Berlin    3800000.0
dtype: float64

In [12]:
# & = and
# | = or
cities[ (cities > 1000000) & (cities < 3000000) ]

Paris    2300000.0
dtype: float64

In [14]:
cities[ (cities > 100000) & (cities != 2300000) ]

Dnepr     1000000.0
Berlin    3800000.0
dtype: float64

In [13]:
cities[ ~(cities > 3000000) & (cities.notnull())  ]

Dnepr    1000000.0
Paris    2300000.0
dtype: float64

In [18]:
for index, value in cities.items():
    print(f'Index: {index}, Value: {value}')

Index: Dnepr, Value: 1000000.0
Index: Paris, Value: 2300000.0
Index: Berlin, Value: 3800000.0
Index: Milan, Value: nan