Объект DataFrame лучше всего представлять себе в виде обычной таблицы и это правильно, ведь DataFrame является табличной структурой данных. В любой таблице всегда присутствуют строки и столбцы. Столбцами в объекте DataFrame выступают объекты Series, строки которых являются их непосредственными элементами.

Для создания DataFrame можно использовать одноименный конструктор и словарь Python.

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame({
    'country': ['France', 'USA', 'Ukraine'],
    'capital': ['Paris', 'Washington', 'Kiev'],
    'population': [66.99, 328.2, 41.98]
})
df

   country     capital  population
0   France       Paris       66.99
1      USA  Washington      328.20
2  Ukraine        Kiev       41.98

In [14]:
df2 = pd.DataFrame({
    'country': ['France', 'USA', 'Ukraine'],
    'capital': ['Paris', 'Washington', 'Kiev'],
    'population': [66.99, 328.2, 41.98]
}, index=['FR', 'US', 'UA'])
df2

    country     capital  population
FR   France       Paris       66.99
US      USA  Washington      328.20
UA  Ukraine        Kiev       41.98

In [15]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [16]:
df.index = ['FR', 'US', 'UA']

In [17]:
df.index

Index(['FR', 'US', 'UA'], dtype='object')

In [18]:
df

    country     capital  population
FR   France       Paris       66.99
US      USA  Washington      328.20
UA  Ukraine        Kiev       41.98

Варианты получения значений

In [35]:
df['capital']['UA']

'Kiev'

Лучший вариант получения значений

In [36]:
df.capital.UA

'Kiev'

In [37]:
df['capital'][1]

'Washington'

In [38]:
df.at['US', 'capital']

'Washington'

In [42]:
df.iat[2, 2]

41.98

In [43]:
df.loc['US']

country              USA
capital       Washington
population         328.2
Name: US, dtype: object

In [18]:
df.loc['US', 'capital']

'Washington'

In [19]:
df.iloc[1]

country              USA
capital       Washington
population         328.2
Name: US, dtype: object

In [20]:
df.iloc[1, 1]

'Washington'

In [21]:
df.columns

Index(['country', 'capital', 'population'], dtype='object')