In [1]:
import pandas as pd

In [3]:
df_acer = pd.read_csv('price_acer.csv', sep=';')
df_asus = pd.read_csv('price_asus.csv', sep=';')
df_hp = pd.read_csv('price_hp.csv', sep=';')

In [4]:
df_acer

   id                                              title  price
0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35

In [5]:
df_asus

   id                                              title  price
0   2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...     20
1   8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...     16

In [6]:
df_hp

   id                                              title  price
0   3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...      7
1   4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...     25
2   9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...     15
3  10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...     30

In [7]:
df = pd.concat([df_acer, df_asus, df_hp])

In [8]:
df

   id                                              title  price
0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35
0   2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...     20
1   8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...     16
0   3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...      7
1   4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...     25
2   9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...     15
3  10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...     30

In [10]:
df = pd.concat([df_acer, df_asus, df_hp], ignore_index=True)
df

   id                                              title  price
0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35
2   2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...     20
3   8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...     16
4   3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...      7
5   4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...     25
6   9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...     15
7  10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...     30

In [11]:
df = pd.concat([df_acer, df_asus, df_hp], keys=['acer', 'asus', 'hp'])
df

        id                                              title  price
acer 0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
     1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35
asus 0   2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...     20
     1   8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...     16
hp   0   3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...      7
     1   4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...     25
     2   9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...     15
     3  10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...     30

In [13]:
df.loc['asus'].at[1, 'price']

16

In [14]:
df = pd.concat([df_acer, df_asus, df_hp], keys=['acer', 'asus', 'hp'], axis=1)
df

  acer                                                          asus  \
    id                                              title price   id
0  1.0  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....  10.0  2.0
1  5.0  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....  35.0  8.0
2  NaN                                                NaN   NaN  NaN
3  NaN                                                NaN   NaN  NaN

                                                            hp  \
                                               title price  id
0  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...  20.0   3
1  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...  16.0   4
2                                                NaN   NaN   9
3                                                NaN   NaN  10


                                               title price
0  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...     7
1  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...    25
2  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...    15
3  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...    30

## Homework

1. Считать все листы из книги Excel - `prices.xlxs`.
2. Объединить прочитанные датафреймы в один датафрейм.
3. Отсортировать по цене в порядке убывания цены.
4. Сохранить итоговый датафрейм в файл `all_prices.xlsx` с названием листа `Notebooks`.