In [1]:
import pandas as pd

1. Считать все листы из книги Excel - prices.xlxs.
2. Объединить прочитанные датафреймы в один датафрейм.
3. Отсортировать по цене в порядке убывания цены.
4. Сохранить итоговый датафрейм в файл all_prices.xlsx с названием листа Notebooks.

In [4]:
df_acer = pd.read_excel('prices.xlsx', sheet_name='Acer')
df_asus = pd.read_excel('prices.xlsx', sheet_name='Asus')
df_hp = pd.read_excel('prices.xlsx', sheet_name='HP')

In [5]:
df = pd.concat([df_acer, df_asus, df_hp], ignore_index=True)
df

   id                                              title  price
0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35
2   2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...     20
3   8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...     16
4   3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...      7
5   4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...     25
6   9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...     15
7  10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...     30

In [8]:
df.sort_values(by='price', ascending=False, inplace=True)

In [9]:
df

   id                                              title  price
1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35
7  10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...     30
5   4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...     25
2   2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...     20
3   8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...     16
6   9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...     15
0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
4   3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...      7

In [10]:
df.to_excel('all_prices.xlsx', sheet_name='Notebooks', index=False)

In [13]:
f = pd.ExcelFile('prices.xlsx')

In [14]:
f

In [15]:
res = pd.DataFrame()

In [17]:
for name in f.sheet_names:
#     print(name)
    tmp = pd.read_excel('prices.xlsx', sheet_name=name)
    res = pd.concat([res, tmp])

In [18]:
res

   id                                              title  price
0   1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....     10
1   5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....     35
0   2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...     20
1   8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...     16
0   3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...      7
1   4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...     25
2   9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...     15
3  10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...     30